<div class="container">
  <div class="row">
    <div class="col col-12">
      <h4 class="section-title">📢 News</h4>
      <ul class="news-list">
        <li>[Jun. 2025] A paper was accepted to MICCAI 2025.</li>
        <li>[May 2025] A paper was accepted to IEEE Geoscience and Remote Sensing Letters (IF 4.0, JCR IF Rank 10.4%).</li>
        <li>[Mar. 2025] I was at New York University for six months as a visiting scholar (Global AI Frontier Lab).</li>
        <li>[Dec. 2024] A paper was accepted to IEEE Transactions on Circuits and Systems for Video Technology (IF 8.3, JCR IF Rank 5.5%).</li>
        <li>[Oct. 2024] We won first prize in the MICCAI 2024 PhaKIR Challenge (“Surgical Instrument Instance Segmentation” category, part of the EndoVis challenge).</li>
        <li>[Nov. 2023] A paper was accepted to Image and Vision Computing (IF 4.7, JCR IF Rank 18.5%).</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">📢 News</h4>
			{% endif %}
		</div>
	</div>
</div>
 -->
