<div class="container">
  <div class="row">
    <div class="col col-12">
      <h4 class="section-title">📢 News</h4>
      <ul class="news-list">
	<li><strong>[Jul. 2025]</strong> A paper was accepted to ICIP 2025 at the LVLM workshop.</li>
        <li><strong>[Jun. 2025]</strong> A paper was accepted to MICCAI 2025.</li>
        <li><strong>[May 2025]</strong> A paper was accepted to IEEE Geoscience and Remote Sensing Letters (IF 4.0, JCR IF Rank 10.4%).</li>
        <li><strong>[Mar. 2025]</strong> I was at New York University for six months as a visiting scholar (Global AI Frontier Lab).</li>
        <li><strong>[Dec. 2024]</strong> A paper was accepted to IEEE Transactions on Circuits and Systems for Video Technology (IF 8.3, JCR IF Rank 5.5%).</li>
        <li><strong>[Oct. 2024]</strong> We won first prize in the MICCAI 2024 PhaKIR Challenge (“Surgical Instrument Instance Segmentation” category, part of the EndoVis challenge).</li>
        <li><strong>[Nov. 2023]</strong> A paper was accepted to Image and Vision Computing (IF 4.7, JCR IF Rank 18.5%).</li>
      </ul>
    </div>
  </div>
</div>

<!-- <div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">📢 News</h4>
			{% endif %}
		</div>
	</div>
</div>
 -->
