<!-- _includes/publications_intro.html -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <h4 class="section-title">📚 Publications</h4>
    </div>
  </div>
  
  <!-- 1. TeCIS: Text-enhanced Cross-modal Instrument Segmentation in Surgical Video -->
  <div class="row publication-item" style="margin:2rem 0;">
    <div class="col col-12">
      <h5 style="margin:0 0 .5rem; font-size:1.1rem;">
        <li> <strong>TeCIS: Text-enhanced Cross-modal Instrument Segmentation in Surgical Video</strong>
      </h5>
      <p style="margin:0;">
        Hyeon Bae Kim<sup>†</sup>, <strong>Eunki Cho<sup>†</sup></strong>, Jung Uk Kim<sup>*</sup>, Seong Tae Kim<sup>*</sup><br>
        <em>ICIP 2025, LVLM Workshop</em> – Proceedings of the 2025 IEEE International Conference on Image Processing<br>
        <a href="#" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  
  <!-- 1. Towards Holistic Surgical Scene Graph -->
  <div class="row publication-item" style="margin:2rem 0;">
    <div class="col col-12">
      <h5 style="margin:0 0 .5rem; font-size:1.1rem;">
        <li> <strong>Towards Holistic Surgical Scene Graph</strong>
      </h5>
      <p style="margin:0;">
        Jongmin Shin<sup>†</sup>, <strong>Eunki Cho<sup>†</sup></strong>, Ka Young Kim<sup>†</sup>, Jung Yong Kim, Seong Tae Kim<sup>*</sup>, Namkee Oh<sup>*</sup><br>
        <em>MICCAI 2025</em> – International Conference On Medical Image Computing &amp; Computer Assisted Intervention<br>
        <a href="#" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  

  <!-- 2. PRISM: Pseudo-labeling and Region-based Inpainting ... -->
  <div class="row publication-item" style="margin:2rem 0;">
    <div class="col col-12">
      <h5 style="margin:0 0 .5rem; font-size:1.1rem;">
        <li> <strong>PRISM: Pseudo‐labeling and Region‐based Inpainting for Synthetic Change Detection Modeling</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Soyoun Won, Oh Sung Choo, Seong Tae Kim (Corresponding)<br>
        <em>IEEE Geoscience and Remote Sensing Letters (GRSL), 2025</em><br>
        <a href="https://ieeexplore.ieee.org/abstract/document/11002524" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  

  <!-- 3. Spatial Mask‐based Adaptive Robust Training ... -->
  <div class="row publication-item" style="margin:2rem 0;">
    <div class="col col-12">
      <h5 style="margin:0 0 .5rem; font-size:1.1rem;">
        <li> <strong>Spatial Mask‐based Adaptive Robust Training for Video Object Segmentation with Noisy Labels</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Jung Uk Kim, Seong Tae Kim (Corresponding)<br>
        <em>IEEE Transactions on Circuits and Systems for Video Technology (TCSVT), 2025</em><br>
        <a href="https://ieeexplore.ieee.org/abstract/document/10824849" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  

  <!-- 4. Exploiting Recollection Effects for Memory‐based Video Object Segmentation -->
  <div class="row publication-item" style="margin:2rem 0;">
    <div class="col col-12">
      <h5 style="margin:0 0 .5rem; font-size:1.1rem;">
        <li> <strong>Exploiting Recollection Effects for Memory‐based Video Object Segmentation</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Minkuk Kim, Hyung-Il Kim, Jinyoung Moon, Seong Tae Kim (Co-Corresponding)<br>
        <em>Image and Vision Computing (IMAVIS), Vol. 140, 2023</em><br>
        <a href="https://www.sciencedirect.com/science/article/pii/S0262885623002408" target="_blank">Paper</a>
      </p>
    </div>
  </div>
</div>
