<!-- _includes/publications.html -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <h4 class="section-title">📚 Publications</h4>
    </div>
  </div>

<!-- TeCIS -->
<div class="row publication-item" style="align-items: center; margin:2rem 0;">
  <div class="col col-4">
    <img src="{{ site.baseurl }}/images/publications/tecis.png"
         alt="TeCIS: Text-enhanced Cross-modal Instrument Segmentation in Surgical Video"
         style="max-width:100%; border-radius:4px;">
  </div>
  <div class="col col-8">
    <h5 style="margin:0 0 .5rem">
      <strong>TeCIS: Text-enhanced Cross-modal Instrument Segmentation in Surgical Video</strong>
    </h5>
    <p style="margin:0;">
      Hyeon Bae Kim<sup>†</sup>, <strong>Eunki Cho<sup>†</sup></strong>, Jung Uk Kim<sup>*</sup>, Seong Tae Kim<sup>*</sup><br>
      <em>Proceedings of the 2025 IEEE International Conference on Image Processing (ICIP), LVLM Workshop, 2025</em><br>
      <a href="#" target="_blank">Paper</a>
    </p>
  </div>
</div>
<hr>

  <!-- 1. Towards Holistic Surgical Scene Graph -->
  <div class="row publication-item" style="align-items: center; margin:2rem 0;">
    <div class="col col-4">
      <img src="{{ site.baseurl }}/images/publications/sg201.png"
           alt="Towards Holistic Surgical Scene Graph"
           style="max-width:100%; border-radius:4px;">
    </div>
    <div class="col col-8">
      <h5 style="margin:0 0 .5rem">
        <strong>Towards Holistic Surgical Scene Graph</strong>
      </h5>
      <p style="margin:0;">
        Jongmin Shin<sup>†</sup>, <strong>Eunki Cho<sup>†</sup></strong>, Ka Young Kim<sup>†</sup>, Jung Yong Kim, Seong Tae Kim<sup>*</sup>, Namkee Oh<sup>*</sup><br>
        <em>MICCAI 2025</em> – International Conference On Medical Image Computing &amp; Computer Assisted Intervention<br>
        <a href="#" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  <hr>

  <!-- 2. PRISM -->
  <div class="row publication-item" style="align-items: center; margin:2rem 0;">
    <div class="col col-4">
      <img src="{{ site.baseurl }}/images/publications/prism.png"
           alt="PRISM"
           style="max-width:100%; border-radius:4px;">
    </div>
    <div class="col col-8">
      <h5 style="margin:0 0 .5rem">
        <strong>PRISM: Pseudo-labeling and Region-based Inpainting for Synthetic Change Detection Modeling</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Soyoun Won, Oh Sung Choo, Seong Tae Kim (Corresponding)<br>
        <em>IEEE GRSL 2025</em><br>
        <a href="https://ieeexplore.ieee.org/abstract/document/11002524" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  <hr>

  <!-- 3. Spatial Mask-based Adaptive ... -->
  <div class="row publication-item" style="align-items: center; margin:2rem 0;">
    <div class="col col-4">
      <img src="{{ site.baseurl }}/images/publications/smart.png"
           alt="Spatial Mask-based Adaptive Robust Training"
           style="max-width:100%; border-radius:4px;">
    </div>
    <div class="col col-8">
      <h5 style="margin:0 0 .5rem">
        <strong>Spatial Mask-based Adaptive Robust Training for Video Object Segmentation with Noisy Labels</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Jung Uk Kim, Seong Tae Kim (Corresponding)<br>
        <em>IEEE TCSVT 2025</em><br>
        <a href="https://ieeexplore.ieee.org/abstract/document/10824849" target="_blank">Paper</a>
      </p>
    </div>
  </div>
  <hr>

  <!-- 4. Exploiting recollection effects ... -->
  <div class="row publication-item" style="align-items: center; margin:2rem 0;">
    <div class="col col-4">
      <img src="{{ site.baseurl }}/images/publications/exre.png"
           alt="Exploiting Recollection Effects"
           style="max-width:100%; border-radius:4px;">
    </div>
    <div class="col col-8">
      <h5 style="margin:0 0 .5rem">
        <strong>Exploiting Recollection Effects for Memory-based Video Object Segmentation</strong>
      </h5>
      <p style="margin:0;">
        <strong>Eunki Cho</strong>, Minkuk Kim, Hyung-Il Kim, Jinyoung Moon, Seong Tae Kim (Co-Corresponding)<br>
        <em>Image and Vision Computing (IMAVIS), Vol. 140, 2023</em><br>
        <a href="https://www.sciencedirect.com/science/article/pii/S0262885623002408" target="_blank">Paper</a>
      </p>
    </div>
  </div>
</div>



<!-- <div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">📚 Publications</h4>
			{% endif %}
		</div>
	</div>
</div>
 -->
