<!-- _includes/research-experience.html -->
<div class="container">
  <div class="row">
    <div class="col col-12">
      <h4 class="section-title">💡 Research Experience</h4>
      <ul class="experience-list" style="margin-top:1rem; padding-left:1rem;">
        <li>
          <strong>New York University, New York, NY</strong><br>
          Visiting Scholar, Global AI Frontier Lab (Mar. 2025 – Aug. 2025)
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- <div class="container">
	<div class="row">
		<div class="col col-12">
			{% if site.posts.size > 0 %}
				<h4 class="lates-title">💡 Research Experience</h4>
			{% endif %}
		</div>
	</div>
</div>
 -->
